<a href="https://colab.research.google.com/github/nafis-saad/Machine-Learning-_-Data-Preprocessing-/blob/main/Spam_Text_Message.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Python_Data Processing /spam/SPAM text message 20170820 - Data.csv", engine ='python', encoding ='utf-8')
df.head()

,Category,Message
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"

In [ ]:
df.columns

Index(['Category', 'Message'], dtype='object')

In [ ]:
def fast_intro(df):
    print("------Summary-----\n")
    print(df.info(memory_usage = "deep"))
    print("\n------Descriptive and Quartile Statistics------\n")
    print(df.describe())
    print("\n------1st 10 rows------\n")
    print(df.head(10))
    print("\n------last 10 rows------\n")
    print(df.tail(10))
    print("\n------Random 10 rows------\n")
    print(df.sample(10))

fast_intro(df)

------Summary-----

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 1.1 MB
None

------Descriptive and Quartile Statistics------

       Category                 Message
count   5572     5572
unique  2        5157
top     ham      Sorry, I'll call later
freq    4825     30

------1st 10 rows------

  Category  \
0  ham
1  ham
2  spam
3  ham
4  ham
5  spam
6  ham
7  ham
8  spam
9  spam

                                                                                                                                                            Message
0  Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
1  Ok lar... Joking wif u oni...
2  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3  U dun say so early hor... U c already then say...
4  Nah I don't think he goes to usf, he lives around here though
5  FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, £1.50 to rcv
6  Even my brother is not like to speak with me. They treat me like aids patent.
7  As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune
8  WINNER!! As a valued network customer you have been selected to receivea £900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.
9  Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030

------last 10 rows------

     Category  \
5562  ham
5563  ham
5564  ham
5565  ham
5566  spam
5567  spam
5568  ham
5569  ham
5570  ham
5571  ham

                                                                                                                                                               Message
5562  Ok lor... Sony ericsson salesman... I ask shuhui then she say quite gd 2 use so i considering...
5563  Ard 6 like dat lor.
5564  Why don't you wait 'til at least wednesday to see if you get your .
5565  Huh y lei...
5566  REMINDER FROM O2: To get 2.50 pounds free call credit and details of great offers pls reply 2 this text with your valid name, house no and postcode
5567  This is the 2nd time we have tried 2 contact u. U have won the £750 Pound prize. 2 claim is easy, call 087187272008 NOW1! Only 10p per minute. BT-national-rate.
5568  Will ü b going to esplanade fr home?
5569  Pity, * was in mood for that. So...any other suggestions?
5570  The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free
5571  Rofl. Its true to its name

------Random 10 rows------

     Category  \
4540  ham
1418  ham
694   ham
2008  ham
627   ham
163   ham
1865  ham
371   ham
2489  ham
3178  ham

                                                                                                                                        Message
4540  Party's at my place at usf, no charge (but if you can contribute in any way it is greatly appreciated) and yeah, we got room for one more
1418  No wonder... Cos i dun rem seeing a silver car... But i thk i saw a black one...
694   Will purchase d stuff today and mail to you. Do you have a po box number?
2008  Hi here. have birth at on the  to  at 8lb 7oz. Mother and baby doing brilliantly.
627   How many licks does it take to get to the center of a tootsie pop?
163   I'm so in love with you. I'm excited each day i spend with you. You make me so happy.
1865  You call him now ok i said call him
371   Hello my boytoy ... Geeee I miss you already and I just woke up. I wish you were here in bed with me, cuddling me. I love you ...
2489  Aiyah e rain like quite big leh. If drizzling i can at least run home.
3178  In meeting da. I will call you

In [ ]:
df.isnull().any()

Category    False
Message     False
dtype: bool

In [ ]:
print("Unique:",len(list(set(df['Message']))))
print("Total :",len(df))

Unique: 5157
Total : 5572

In [ ]:
df.drop_duplicates(subset ="Message",keep = "first", inplace = True)

In [ ]:
df['Category'].value_counts()

ham     4516
spam    641
Name: Category, dtype: int64

In [ ]:
#expanding the dispay of Message column
pd.set_option('display.max_colwidth', -1)

data= df [['Category', 'Message']]
data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

,Category,Message
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"

In [ ]:
# Checking if any nan value exist
df.isna().sum()

Category    0
Message     0
dtype: int64

In [ ]:
# Converting all strings to lower case
df['Message'] = df['Message'].apply(lambda x: x.lower())
df.head()

,Category,Message
0,ham,"go until jurong point, crazy.. available only in bugis n great world la e buffet... cine there got amore wat..."
1,ham,ok lar... joking wif u oni...
2,spam,free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005. text fa to 87121 to receive entry question(std txt rate)t&c's apply 08452810075over18's
3,ham,u dun say so early hor... u c already then say...
4,ham,"nah i don't think he goes to usf, he lives around here though"

In [ ]:
# Removing all punctiations from messages with using regex Because:
#  same words with different punctiations may be counted 
# as different features. solo punctiations are not discriminative features.
import re
df['Message'] = df['Message'].apply(lambda x: re.sub('[^\w\s]','',x))
df.head()

,Category,Message
0,ham,go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat
1,ham,ok lar joking wif u oni
2,spam,free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005 text fa to 87121 to receive entry questionstd txt ratetcs apply 08452810075over18s
3,ham,u dun say so early hor u c already then say
4,ham,nah i dont think he goes to usf he lives around here though

In [ ]:
# Removing all numeric characters from Messages
df['Message'] = df['Message'].apply(lambda x:re.sub('[\d]','',x))
df.head()

,Category,Message
0,ham,go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat
1,ham,ok lar joking wif u oni
2,spam,free entry in a wkly comp to win fa cup final tkts st may text fa to to receive entry questionstd txt ratetcs apply overs
3,ham,u dun say so early hor u c already then say
4,ham,nah i dont think he goes to usf he lives around here though

In [ ]:
# Removing space characters more than one from Messages
df['Message'] = df['Message'].apply(lambda x:re.sub('\s\s+','',x))
df.head()

,Category,Message
0,ham,go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat
1,ham,ok lar joking wif u oni
2,spam,free entry ina wkly comp to win fa cup final tkts st maytext fa toto receive entry questionstd txt ratetcs apply overs
3,ham,u dun say so early hor u c already then say
4,ham,nah i dont think he goes to usf he lives around here though

In [ ]:
data= df[['Category', 'Message']]
data.head()

,Category,Message
0,ham,go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat
1,ham,ok lar joking wif u oni
2,spam,free entry ina wkly comp to win fa cup final tkts st maytext fa toto receive entry questionstd txt ratetcs apply overs
3,ham,u dun say so early hor u c already then say
4,ham,nah i dont think he goes to usf he lives around here though

In [ ]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

data['Message']= data['Message'].apply(word_tokenize)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
data.head()

,Category,Message
0,ham,"[go, until, jurong, point, crazy, available, only, in, bugis, n, great, world, la, e, buffet, cine, there, got, amore, wat]"
1,ham,"[ok, lar, joking, wif, u, oni]"
2,spam,"[free, entry, ina, wkly, comp, to, win, fa, cup, final, tkts, st, maytext, fa, toto, receive, entry, questionstd, txt, ratetcs, apply, overs]"
3,ham,"[u, dun, say, so, early, hor, u, c, already, then, say]"
4,ham,"[nah, i, dont, think, he, goes, to, usf, he, lives, around, here, though]"

In [ ]:
#importing nlp library
import nltk
nltk.download('stopwords')
#Stop words present in the library
stopwords = nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
#defining the function to remove stopwords from tokenized text
def remove_stopwords(text):
    output= [i for i in text if i not in stopwords]
    return output

In [ ]:
#applying the function
data['Message']= data['Message'].apply(lambda x:remove_stopwords(x))
data.head()

,Category,Message
0,ham,"[go, jurong, point, crazy, available, bugis, n, great, world, la, e, buffet, cine, got, amore, wat]"
1,ham,"[ok, lar, joking, wif, u, oni]"
2,spam,"[free, entry, ina, wkly, comp, win, fa, cup, final, tkts, st, maytext, fa, toto, receive, entry, questionstd, txt, ratetcs, apply, overs]"
3,ham,"[u, dun, say, early, hor, u, c, already, say]"
4,ham,"[nah, dont, think, goes, usf, lives, around, though]"

In [ ]:
#importing the Stemming function from nltk library
from nltk.stem.porter import PorterStemmer
#defining the object for stemming
porter_stemmer = PorterStemmer()

In [ ]:
#defining a function for stemming
def stemming(text):
  stem_text = [porter_stemmer.stem(word) for word in text]
  return stem_text
data['Message'] = data['Message'].apply(lambda x: stemming(x))
data.head()

,Category,Message
0,ham,"[go, jurong, point, crazi, avail, bugi, n, great, world, la, e, buffet, cine, got, amor, wat]"
1,ham,"[ok, lar, joke, wif, u, oni]"
2,spam,"[free, entri, ina, wkli, comp, win, fa, cup, final, tkt, st, maytext, fa, toto, receiv, entri, questionstd, txt, ratetc, appli, over]"
3,ham,"[u, dun, say, earli, hor, u, c, alreadi, say]"
4,ham,"[nah, dont, think, goe, usf, live, around, though]"

In [ ]:
from nltk.stem import WordNetLemmatizer
#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()

In [ ]:
#defining the function for lemmatization
nltk.download('wordnet')
def lemmatizer(text):
 lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
 return lemm_text
data['Message']=data['Message'].apply(lambda x:lemmatizer(x))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
data.sample(10)

,Category,Message
2667,ham,"[nice, day, impress, sensibl, went, home, earli, feel, fine, bore, when, cant, rememb]"
3138,ham,"[your, right, think]"
1312,ham,"[u, r, much, close, heart, u, go, away, shatter, plz, stay]"
2921,ham,"[thanxth, time, weve, spent, geva, bin, mint, ur, babi, want, uxxxx]"
1267,ham,"[hey, sorri, didntgiv, ya, bellearli, hunnyjust, bedbut, mite, gothepub, ltr, uwana, mt, upload, luv, jenxxx]"
4932,ham,"[good, morn, boytoy, how, yummi, lipswher, sexi, bun, nowwhat, dodo, think, medo, crave, medo, need]"
91,ham,"[sorri, pain, ok, meet, anoth, night, spent, late, afternoon, casualti, mean, havent, done, stuffmoro, includ, time, sheet, sorri]"
4116,ham,"[sorri, never, hear, unless, book, one, kinda, jokethet, realli, look, skinni, white, girl, one, liney, much, camera, someth, like, theyr, cast, look]"
741,ham,"[ye, glad, made]"
731,spam,"[email, alertfrom, jeri, stewart, kbsubject, lowcost, prescripiton, drvgsto, listen, email, call]"